@charset "utf-8";
@import "reset.css";
@import "common.css";

.subVisual {height: 286px; background: url(../images/sub-visual01.jpg); background-size: cover; position: relative;}
.subVisual .overlay {position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.5);}
.subVisual .text {position: absolute; color: #fff; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.subVisual .text h2 {font-size: 45px; text-shadow: 0 1px 2px rgba(0, 0, 0, .2); font-weight: normal;}
.subVisual .text p {font-size: 13px; color: rgba(255,255,255,0.8); padding-top: 6px;}
.subVisual .subnav {position: absolute; height: 43px; bottom: 0; border-top: 1px solid rgba(255,255,255,0.2); width: 100%;}
.subVisual .subnav_box {position: absoulte;line-height: 43px; text-align: center; margin: 0 auto; color: #fff; font-size: 14px;}
.subVisual .subnav_box a {display: inline-block; padding: 0 20px; position: relative;}
.subVisual .subnav_box a.on:before {content: ''; position: absolute; width: 100%; height: 2px; background: #a84142; top: -1px; left: 0; right: 0;}

.subTit {padding: 60px 0; text-align: center; border-bottom: 2px solid #eaeaea;}
.subTit h2 {font-size: 30px;}
.subTit p {font-size: 14px; color: #777; padding-top: 10px;}

.csBox {padding: 60px 50px 80px;}
.cs_list li {border-bottom: 1px solid #ececec;}
.cs_list li:first-child {border-top: 2px solid #000;}
.cs_list li .label_box {display: inline-block; height: 40px; line-height: 40px; vertical-align: top; width: 20%; text-align: center; background: #f7f7f7;}
.cs_list li .tit_lbl {font-size: 15px; font-weight: bold; line-height: 40px;}
.cs_list li .input_box {display: inline-block; height: 40px; vertical-align: top; padding: 5px 0 5px 10px;}
.cs_list li span {display: inline-block; line-height: 40px;}
.cs_list li .phone_box {padding: 5px 0;}
.cs_list li .input_box select,
.cs_list li .input_box input[type="text"]
{height: 100%; vertical-align: top; padding: 0 1em; border: 1px solid #d5d5d5;}
.cs_list li .input_box select {font-size: 12px; padding: 0 0.5em;}
.cs_list li .cont_lbl_box {height: 230px; line-height: 230px;}
.cs_list li .cont_box {width: 79.5%; height: 230px; position: relative;}
.cs_list li .cont_box textarea {width: 750px; height: 220px; border: 1px solid #d5d5d5; resize: none; padding: 1em;}
.cs_list li .cont_box p {position: absolute; bottom: 4px; right: 20px; font-size: 12px; display: inline-block; color: #666;}
.cs_list li .cont_box p span {line-height: 1;}
::placeholder {font-size: 13px; color: #b1b1b1;}
.cs_list li .file_box {padding: 8px 0 8px 10px;}
.cs_list li .input_box input[type="file"] 
{height: 100%; vertical-align: top; width: 178px;}
.cs_list li .agree_box {position: relative; padding: 5px 15px 18px;}
.cs_list li .agree_check_box {position: absolute; right: 0; display: inline-block; line-height: 40px; padding-right: 15px;}
.cs_list li .agree_check_box input {display: none;}
.cs_list li .agree_check_box label {font-size: 13px; vertical-align: top; position: relative;}
.cs_list li .agree_check_box label:before {content: '\f14a'; font-family: 'Font Awesome 5 Free'; font-weight: 400; color: #ccc; margin-right: 8px; display: inline-block; transform: scale(1.2) translateY(-1px);}
.cs_list li .agree_check_box input[type="checkbox"]:checked + label:before
{content: '\f14a'; color: #a84142; font-weight: 900;}
.cs_list li .agree_text_box textarea {width: 100%; height: 150px; border: 1px solid #8f8f8f; padding: 1em; color: #333; resize: none;}
.cs_form .btn {text-align: center; padding-top: 17px;}
.cs_form .btn button {padding: 7px 15px; font-size: 13px; color: #fff; border-radius: 4px; background: #a1a1a1;}
.cs_form .btn button[type="submit"] {background: #a84142;}
.w80 {width: 80px;}
.w150 {width: 150px;}
.w500 {width: 500px;}
.w750 {width: 750px;}